/* General background styling */
#controllersContainer {
    -fx-background-color: #b4c5e4;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #9099b4;
}

#configPane {
    -fx-background-color: #b4c5e4;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #9099b4;
}

/* Styling for TextField */
.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #9099b4;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* Styling for Spinner */
.spinner {
    -fx-background-color: #ffffff;
    -fx-border-color: #9099b4;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* Styling for Toolbar */
.tool-bar {
    -fx-background-color: #b4c5e4;
    -fx-border-color: #9099b4;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

/* Styling for Buttons */
.button {
    -fx-font-size: 16px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-color: #2980b9;
    -fx-padding: 10px 15px;
}


